* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Amazon Ember, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#__next {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #e5e5df;
  z-index: 1;
}

input[type='search'] {
  width: 20rem;
  padding: 0.5rem 1rem;
}

navbar {
  display: flex;
  flex-direction: column;
  padding: 2rem 0px;
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  min-height: 100vh;
}

header .header_item:first-child,
navbar .side_item:first-child {
  font-weight: 600;
}

.codehike {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 2rem;
  margin-top: 4rem;
}

.codehike a {
  margin-bottom: 1rem;
}

.modules,
.quicklinks {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 0.875rem;
}

.modules {
  min-width: 18rem;
  border-right: 1px solid #e5e5df;
}

.quicklinks {
  min-width: 16rem;
  border-left: 1px solid #e5e5df;
}

.modules .side_item,
.quicklinks .side_item {
  color: #616161;
  padding: 0.5rem 0;
}
